@media (max-width: 720px) {
    #page-search-results .cards {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 720px) and (max-width: 1080px) {
    #page-search-results .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) { /* if width até 900px */
    #page-home {
        background-position-x: 100vh;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute; /* ignorar outros elementos no posicionamento */
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 45vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}

@media (max-height: 600px) {
    #page-home main h1 {
        font-size: 38px;
    }

    #page-home main p {
        font-size: 18px;
        line-height: 25px;
        margin-top: 24px;
    }

    #page-home main a {
        width: 100%;
        max-width: 300px;
        height: 60px;

        font-size: 16px;
    }

    #page-home main a span {
        width: 60px;
        height: 60px;
    }
}

@media (max-height: 525px) {
    #page-home header a {
        top: 90vh;
    }
}
